# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml

# VS Code launch configuration and tasks may be useful to commit.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Gradle / Android build artifacts
.gradle/
build/
/android/app/debug
/android/app/profile
/android/app/release
captures/
.externalNativeBuild/
.cxx/
*.aab
*.apk
output-metadata.json

# Local configuration
local.properties

# Symbolication / obfuscation
app.*.symbols
app.*.map.json

# Keystore files
*.jks
*.keystore

# Google Services (e.g. APIs or Firebase)
google-services.json

# Android Profiling
*.hprof

.gstack/
